
body {
    background-color: black;
}
#image-of-friends {
    border: 5px solid white;
    width: 100%;
}
h1 {
    text-transform: uppercase;
    font-size: 2rem;
}
#picture {
    width: 50%;
    margin-left: 25%;
    color: white;
    text-align: center;
    font-family: 'Caveat', cursive;
}